colors:
  primary:
    background: "#{{ background }}"
    foreground: "#{{ foreground }}"
  search:
    matches:
      foreground: CellBackground
      background: "#{{ selection }}"
    footer_bar:
      background: "#{{ background }}"
      foreground: "#{{ foreground }}"
  normal:
    black: "#{{ base00 }}"
    magenta: "#{{ base01 }}"
    green: "#{{ base02 }}"
    yellow: "#{{ base03 }}"
    blue: "#{{ base04 }}"
    red: "#{{ base05 }}"
    cyan: "#{{ base06 }}"
    white: "#{{ base07 }}"
  bright:
    black: "#{{ base08 }}"
    magenta: "#{{ base09 }}"
    green: "#{{ base0A }}"
    yellow: "#{{ base0B }}"
    blue: "#{{ base0C }}"
    red: "#{{ base0D }}"
    cyan: "#{{ base0E }}"
    white: "#{{ base0F }}"
